@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

#title{
    font-family: 'Radio Canada', sans-serif;
}

#next {
    padding: 0.3em 0.3em;

}

#name{
    font-family: 'Radio Canada', sans-serif;
}